.cat {
    display: flex;
    background-color: blue;
}
.cont_Cat {
    background-color: black;
}

.containerPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
.containerSecundario{
    text-align: center;
}